:root {
    --label: rgba(255, 255, 255, 1);
    --plain-text: rgba(255, 255, 255, 1);
    --grid-axis: rgba(255, 255, 255, 1);
    --dots: rgba(255, 255, 255, 1);
    --color-1: rgba(28, 118, 253, 1);
    --color-2: rgba(76, 148, 255, 1);
    --color-3: rgba(117, 172, 255, 1);
    --color-4: rgba(87, 33, 240, 1);
    --color-5: rgba(143, 0, 255, 1);
    --color-6: rgba(211, 87, 255, 1);
    --color-7: rgba(227, 50, 131, 1);
    --color-8: rgba(255, 92, 0, 1);
    --color-9: rgba(79, 85, 143, 1);
    --color-10: rgba(255, 255, 255, 1);
    --background: rgba(27, 31, 35, 1);
    --color-1-transparent: rgba(28, 118, 253, 0.4);
    --color-2-transparent: rgba(76, 148, 255, 0.4);
    --color-3-transparent: rgba(117, 172, 255, 0.4);
    --color-4-transparent: rgba(87, 33, 240, 0.4);
    --color-5-transparent: rgba(143, 0, 255, 0.4);
    --color-6-transparent: rgba(211, 87, 255, 0.4);
    --color-7-transparent: rgba(227, 50, 131, 0.4);
    --color-8-transparent: rgba(255, 92, 0, 0.4);
    --color-9-transparent: rgba(79, 85, 143, 0.4);
    --color-10-transparent: rgba(255, 255, 255, 0.4);
    --background-transparent: rgba(84, 84, 84, 0.45);
    --lightprimary: rgba(38, 38, 38, 1);
    --lightsecondary: rgba(127, 127, 127, 1);
    --lighttertiary: rgba(191, 191, 191, 1);
    --lightpalettewhite: rgba(255, 255, 255, 1);
    --lightpaletteblack: rgba(0, 0, 0, 1);
    --lightpalettered: rgba(255, 59, 48, 1);
    --lightpaletteorange: rgba(255, 149, 0, 1);
    --lightpaletteyellow: rgba(255, 204, 0, 1);
    --lightpalettegreen: rgba(40, 205, 65, 1);
    --lightpalettemint: rgba(0, 199, 190, 1);
    --lightpaletteteal: rgba(89, 173, 196, 1);
    --lightpalettecyan: rgba(85, 190, 240, 1);
    --lightpaletteblue: rgba(0, 122, 255, 1);
    --lightpaletteindigo: rgba(88, 86, 214, 1);
    --lightpalettepurple: rgba(175, 82, 222, 1);
    --lightpalettepink: rgba(255, 45, 85, 1);
    --lightpalettebrown: rgba(162, 132, 94, 1);
    --lightpalettegray: rgba(142, 142, 147, 1);
    --lightpaletteaccent: rgba(47, 124, 245, 1);
    --darkprimary: rgba(221, 221, 221, 1);
    --darksecondary: rgba(153, 153, 153, 1);
    --darktertiary: rgba(86, 86, 86, 1);
    --darkpalettewhite: rgba(255, 255, 255, 1);
    --darkpaletteblack: rgba(0, 0, 0, 1);
    --darkpalettered: rgba(255, 69, 58, 1);
    --darkpaletteorange: rgba(255, 159, 10, 1);
    --darkpaletteyellow: rgba(255, 214, 10, 1);
    --darkpalettegreen: rgba(50, 215, 75, 1);
    --darkpalettemint: rgba(102, 212, 207, 1);
    --darkpaletteteal: rgba(106, 196, 220, 1);
    --darkpalettecyan: rgba(90, 200, 245, 1);
    --darkpaletteblue: rgba(10, 132, 255, 1);
    --darkpaletteindigo: rgba(94, 92, 230, 1);
    --darkpalettepurple: rgba(191, 90, 242, 1);
    --darkpalettepink: rgba(255, 55, 95, 1);
    --darkpalettebrown: rgba(172, 142, 104, 1);
    --darkpalettegray: rgba(152, 152, 157, 1);
    --darkpaletteaccent: rgba(47, 124, 245, 1);
  }